.greetingForm {
    display: flex;
    align-items: flex-start;
}

.inputAndButtonContainer {
}

.error {
    color: red;
    height: 21px;
    margin-left: 20px;
}

.input {
    margin: 10px;
    background: seagreen;
    color: #00cc22;
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
